html {
    min-height:100%;
    background:linear-gradient(0deg, rgba(235, 235, 202, 0.5), rgba(255,255,255, 0.9)), url(lib.jpg);
    background-size:cover;
  }

body {
margin: 0;
background: linear-gradient(45deg,#eeeee4,#ede9e2);
background-image: url();
background-size: cover;
font-family: 'Noto Sans', sans-serif;
font-weight: 100;
}
.container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
table {
  background: linear-gradient(45deg,#faf9f7,#ede9e2);
  opacity: 80%;
width: 800px;
border-radius: 2rem;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 10%; 
  text-align: center;  
  font-size: 16px;  
  font-family:'Noto Sans', sans-serif;
  white-space:5px;
}
td {
padding: 15px;
color: #5F7161;
text-align: center;  
}

th {
text-align: center;
color: #7d6a40;
position: sticky;
}
thead th {
background-color: #55608f;
}
tbody tr:hover {
background-color: rgba(255,255,255,0.3);
}
tbody td {
position: relative;
}
tbody td:hover:before {
content: "";
position: absolute;
left: 0;
right: 0;
top: -9999px;
bottom: -9999px;
background-color: rgba(255,255,255,0.2);
z-index: -1;
}

.input-txt{
        font: 20px/3;
        opacity: 70%;
        border: none;
        border-radius: 1rem;
        padding: 5%;
        box-shadow: none;
        overflow: hidden;
        resize: none;

    }
.labeltxt{
    margin-left: 6px;
    font-weight: 600;
    opacity: 76%;
    border: none;
    color:#5F7161;


}
.botton{

        padding: none;
        font-size: 20px;
        box-shadow: none;
        color: #acaea7;
        border-color: lightgray;
        border-radius: 0.5rem;
        position: relative;
        top : 15%;
        left : 42%;
        background-color: #faf9f7;
        
    }
.centered{
        position: fixed;
  top: 25%;
  left: 38%;

}
h1{
    text-align: center;
    color:#5F7161;
    position: relative;
    text-shadow: #acaea7;
    top:12%;
    font-weight:500;
}
form{
    margin-top: 10%;
    
}